!!!
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title Jeffrey and Anna
  %meta{:content => "Jeffrey and Anna's Wedding Website!", :name => "description"}
  %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
  %link{:rel => "alternate", :type => "application/rss+xml", :title => "Jeffrey and Anna &raquo; Feed", :href => "/blog/feed/"}
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Imprima|Carter+One"
  = stylesheet_link_tag "application"
  = javascript_include_tag "libs/modernizr-2.6.2.min"
%body
  %header.page_header
    .container
      %h1
        %a#welcome_link.welcome_link{:href => "#welcome"}
          %span.jeffrey
            J
            %span.not_first_letter> effrey
          %span.and and
          %span.ampersand &
          %span.anna
            A
            %span.not_first_letter> nna
      %nav
        %ul
          %li
            %a#about_us_link.about_us_link{:href => "#about_us"}
              %i.icon-user
              %span.link_text About Us
          %li
            %a#updates_link.updates_link{:href => "#updates"}
              %i.icon-rss
              %span.link_text Updates
          %li
            %a#events_link.events_link{:href => "#events"}
              %i.icon-calendar
              %span.link_text Events
          %li
            %a#rsvp_link.rsvp_link{:href => "#rsvp"}
              %i.icon-envelope-alt
              %span.link_text RSVP
  .main{:role => "main"}
    .character_container
      .anna.object.standing
      .jeffrey.object.standing
      .backup.object.standing
    %section#welcome.main_section
      %header
        %h1
          %span.jeffrey Jeffrey
          %span.and and
          %span.anna Anna
      .object_container
        .window.object
        .projectorscreen.object
        .couch.object
        .roomba.object
        .xbox.object
        .wii.object
        .macbookpro.object
        .macbookair.object
        .projector.object
        .ddrpads.object
    %section#about_us.main_section.regular_section
      %header.clearfix
        .container
          %h1 About Us
          %nav
            %ul
              %li
                %a.active{:href => "#our_story"} Our Story
              %li
                %a{:href => "#about_anna"} Anna
              %li
                %a{:href => "#about_jeffrey"} Jeffrey
              %li
                %a{:href => "#our_home"} Our Home
      .carousel.slide
        .carousel-inner
          %section#our_story.active.item
            .container
              %h1 Our Story
              = image_tag "ziplining.jpg", :alt => "Ziplining in Vancouver", :class => "image_right", :width => 300, :height => 412
              %p It all started over sausages and beers (as all wonderful things should). Jeffrey and Anna met at Gestalt Haus while out with a mutual friend in the Mission. Initial conversation included UC Santa Cruz, where they both went to school (they never met during that time, however), as well as music - Anna had seen Jeffrey's sister's band play when they were performing around SF circa 2006.
              %p Nothing after that was particularly deliberate. In an effort to go see more live shows and see more friends in the process, Anna started creating Facebook events for different shows, inviting people to come along. Jeffrey, in an effort to meet more people upon moving to SF, accepted every invite he could attend. From there, something slowly but surely clicked. Their first date was at Fly Bar in Divisidero, followed by the Tallest Man on Earth at the Independent (he's actually not that tall in real life, but he makes excellent music).
              %p Jeffrey had recently moved into the city with new job prospects. He had come from his dad's place in San Rafael, where he was staying after realizing grad school in Seattle wasn't for him. In early 2009, he found a pleasant space in a not-so-pleasant neighborhood, and spent his free time exploring the city with his new Internet friends.
              %p Anna moved to SF in late 2008, after living in Berkeley and Oakland the previous three years. She originally moved to the East Bay after graduating from UC Santa Cruz in 2005 and securing a job at UC Berkeley. While her first apartment in SF was in a less desirable location (with an evil landlord, to boot), her housemates were fantastic.
              %p Shortly after they started dating, Anna's upstairs neighbors left the toilet running and her aforementioned crummy apartment was soon deluged; she and her housemates were left temporarily homeless and Anna was scheduled to stay with her parents for the time being. One evening, Anna was about to head to her parents' house, but her car was stuck behind another in her shared garage. She had the keys, but she had no idea how to drive a manual transmission Saab. Taking a page out of the Matrix, Jeffrey looked up instructions on how to drive a stick on his iPhone and downloaded them into his brain. After a stall or two, the car was moved and Anna could go along her way.
              %p
                Jeffrey helped Anna move into a nice new place with her housemates on the other side of the Mission, right next to SF General Hospital. This came in handy when Jeffrey smashed his shoulder into Market Street after getting hit by a car on his bike. Anna rushed to his rescue and brought him to bed (across the street). Anna's apartment was great for other, less
                painful reasons - there was a gorgeous cat, awesome landlords, and plenty of bright space to hold a series of puzzle parties, which are just what they sound like - parties where friends came over and solved #{link_to "one ridiculously challenging puzzle", "https://www.facebook.com/photo.php?v=727747356368", :target => "_blank"}.
              = image_tag "versailles.jpg", :alt => "Visiting Versailles", :class => "image_left", :width => 300, :height => 435
              %p They traveled Europe in late 2010 -  London, Paris, the Cinque Terre, Florence, Rome, Berlin, Amsterdam - all within two-and-a-half weeks. Needless to say, it was spectacular. You can read all about it in the #{link_to "Updates section", "#updates", :class => "updates_link"}!
              %p
                Jeffrey moved in with Anna in 2011. The rest of the year was filled with travels - to Austin for SxSW, New Jersey to see Anna's family, and New York to see Jeffrey's. After a year of new sights and sounds, they finished the year off on Treasure Island, surrounded by friends and a beautiful panorama of the city where they had started their life. As the New Year's fireworks shot into the sky, Jeffrey took out the engagement ring, promptly dropped it, fumbled around in the dark, and
                presented it to Anna.
              %p In early 2012, they moved into an apartment in Hayes Valley with a beautiful overlook of their city. They adopted Backup, an orange, noisy, lovable menace. They've been settling into their newly engaged life, but they can't wait until 2013, when they'll be married in their city among family and friends!
          %section#about_anna.item
            .container
              %h1 Anna
              = image_tag "anna.jpg", :alt => "Anna in the Cinque Terre", :class => "image_left", :width => 400, :height => 277
              %p
                Anna was born in New Jersey, but her family moved to Northern California before she could truly call herself a "Jersey girl." The subsequent coming-of-age years in Sebastopol revolved around volleyball, Gravenstein apples and a high school located next to a dairy farm.
              %p
                Thus far, her adult life has been a love letter to the University of California: she spent four awesome years in the majestic redwood forest of UC Santa Cruz, and she has worked at UC Berkeley ever since she graduated. She started working in student affairs before transitioning into web editing and communications for a less student-centric department; currently, she gets to work on high-profile university websites, plus she gets to use the word "Specialist" in her payroll title!
              %p
                After entering the post-college world, Anna discovered a love for independent music, which later developed into a specific focus on Bay Area-based bands and artists. Her involvement with several local music blogs outside of work led to a part-time gig with #{link_to "the Bay Bridged", "http://www.thebaybridged.com/", :target => "_blank"}, a local music website and non-profit, where she assists with blog and event production.
              %p
                In her spare time, Anna also enjoys cooking/baking, reading, spending time with friends and family, swimming, running, and simply walking around San Francisco.
          %section#about_jeffrey.item
            .container
              %h1 Jeffrey
              = image_tag "jeffrey.jpg", :alt => "Jeffrey in Santa Cruz", :class => "image_left", :width => 400, :height => 285
              %p
                Jeffrey grew up in the Bay Area. Born in Fremont and growing up in San
                Rafael, he spent his youth drawing comics. In fact, he drew everything
                on this site!
              %p
                He became enamored with the web early on - he made his first website
                in 1994. He's been constantly making them ever since, and lucky for
                him, it's an important tool of the trade in San Francisco.
              %p
                He also loves video games, especially platformers and music games. He
                kept in shape throughout high school and college by playing Dance
                Dance Revolution. He's now more focused on long-distance running, but
                he's always got time for a trip to the arcade.
              %p
                From his apartment in Hayes Valley, Jeffrey bikes down Market Street
                to work on the Embarcadero every day. He also bikes to #{link_to "Noisebridge", "https://noisebridge.net", :target => "_blank"}, a
                local hackerspace, where he teaches a free class on frontend web
                development.
          %section#our_home.item
            .container
              %h1 Our Home
              = image_tag "ourhome.jpg", :alt => "The view from our window", :width => 760, :height => 263
              %p
                We've lived in San Francisco for as long as we've known each other. We
                love the city and its many neighborhoods - the Tenderloin, Mission,
                Potrero Hill and Hayes Valley being the sites of our many homes - and
                enjoy making the most of it from the bay to the breakers.
              %p
                We live in a comfortable apartment in Hayes Valley with an amazing
                view. We're in the real center of the city (the words "San Francisco"
                hover over our building on most maps) and from our place we can walk
                in any direction and find something fun to do.
              %p
                If you're visiting San Francisco, there are the obvious sights and
                sounds. Your first vacation shouldn't be complete without a walk along
                the Embarcadero through
                %b Fisherman's Wharf
                and the <b>Ferry Building</b>. A walk along the
                %b Golden Gate Bridge
                can be spectacular when it's not
                fogged over, and the hills of
                %b North Beach
                will provide you with a plethora of beautiful, historic sites.
              %p
                Of course, there are many attractions that are off the beaten path.
                Our neighborhood and the adjoining
                %b Mission district
                are full of cute
                shops, delicious food, and parks with a view. Chinatown might be
                historic, but the
                %b Inner Richmond
                is home to arguably the best Asian
                food in the city.
                %b Haight-Ashbury
                might have been the center of the
                Summer of Love half a century ago, but now it's a great place to go
                clothes shopping. And you can't beat
                %b Golden Gate Park
                when it comes to
                biking or jogging.
              %p
                We've got a bunch of food recommendations! Our favorite burrito
                place is
                %b Taqueria Cancún.
                If you're looking for pizza, try <b>Pauline's</b>,
                <b>Patxi</b>'s, or <b>Little Star</b>.
                %b Lahore Karahi
                is our favorite Indian/Pakistani
                place, and
                %b Mandalay
                is great Burmese food. We've had many a
                breakfast at
                %b St. Francis Fountain
                and <b>Dynamo Donuts</b>, and the coffee at <b>Blue Bottle</b>,
                <b>Ritual</b>, and
                %b Four Barrel
                is much celebrated.
                %b Magnolia Pub
                and
                %b Rosamunde/Toronado
                serve spectacular beer. Good mid-range dinner places to check out
                are
                %b Tangerine
                and <b>Starbelly</b>. And if you're looking to splurge,
                try <b>Aziza</b>, <b>Gary Danko</b>, or <b>Michael Mina</b>.
              %p
                Looking to plan your trip for our wedding? Look at the
                = link_to "Events section", "#events", :class => "events_link"
                to learn more about what to expect, and places to stay. And don't
                hesitate to reach out to us to have any questions answered.
      .object_container
        .track.object
        .tree1.object
        .tree2.object
        .weights.object
        .goggles.object
    %section#updates.main_section.regular_section
      %header
        .container
          %h1 Updates
          %nav
            %ul
              %li
                %a.active{:href => "#latest_entry"} Latest Entry
              %li
                %a{:href => "#archive"} Archive
      .carousel.slide
        .carousel-inner
          %section#latest_entry.active.item
            %article.container
              - unless @feed.class == Fixnum
                - first = @feed.entries.first
                %time.blog_date{:datetime => first.published.strftime("%Y-%m-%d")}= link_to first.published.strftime("%B %-d, %Y"), first.url, :target => "_blank"
                %h1= link_to first.title, first.url
                %section= first.content.html_safe
                %p.blog_link= link_to "Comments", first.url, :target => "_blank"
          %section#archive.item
            .container
              %h1 Archive
              %table
                %tbody
                  - unless @feed.class == Fixnum
                    - @feed.entries[1..-1].each do |entry|
                      %tr
                        %td= link_to entry.title, entry.url, :target => "_blank"
                        %td= entry.author
                        %td= entry.published.strftime("%B %-d, %Y")
              %p.blog_link= link_to "All updates on the full blog...", "/blog", :target => "_blank"
      .object_container
        .plane.object
        .eiffel.object
        .wtc.object
        .colosseum.object
        .zipline.object
        .bike1.object
        .bike2.object
        .helmet1.object
        .helmet2.object
        .binoculars.object
    %section#events.main_section.regular_section
      %header
        .container
          %h1 Events
          %nav
            %ul
              %li
                %a.active{:href => "#ceremony"} Ceremony
              %li
                %a{:href => "#accomodations"} Accomodations
      %section.content_section
        %p.coming_soon Information Coming Soon!
      .object_container
        .mirrorball.object
        .djbooth.object
        .chuppah.object
        .cake.object
    %section#rsvp.main_section.regular_section
      %header
        .container
          %h1 RSVP
      .carousel.slide
        .carousel-inner
          %section.active.item
            .container
              .centerer
                %p
                  We haven't sent out invitations just yet! When we do, come
                  back here and you'll be able to RSVP online.
              -#
                - if @invitation.persisted?
                  = render :file => "invitations/edit"
                - else
                  = render :partial => "invitations/rsvp"
      .object_container
        .backcounter.object
        .sodastream.object
        .mitts.object
        .knives.object
        .microwave.object
        .scale.object
        .refrigerator.object
        .counter.object
        .mixer.object
        .grill.object
    %input{:type => "range", :id => "container_opacity", :class => "container_opacity", :value => 100}
  = javascript_include_tag "application", :async => Rails.env == "production"
  :javascript
    var _gaq=[['_setAccount','UA-32988072-1'],['_trackPageview'],['_setDomain','#{request.host}']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));