!!!
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title Jeffrey and Anna
  %meta{:content => "Jeffrey and Anna's Wedding Website!", :name => "description"}
  %meta{:content => "width=device-width", :name => "viewport"}
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Imprima|Carter+One"
  = stylesheet_link_tag "application"
  = javascript_include_tag "libs/modernizr-2.5.3.min"
%body
  %header.page_header
    .container
      %h1
        %a#welcome_link{:href => "#welcome"}
          %span.jeffrey
            J
            %span.not_first_letter> effrey
          %span.and and
          %span.ampersand &
          %span.anna
            A
            %span.not_first_letter> nna
      %nav
        %ul
          %li
            %a#about_us_link{:href => "#about_us"}
              %i.icon-user
              %span.link_text About Us
          %li
            %a#updates_link{:href => "#updates"}
              %i.icon-rss
              %span.link_text Updates
          %li
            %a#events_link{:href => "#events"}
              %i.icon-calendar
              %span.link_text Events
          %li
            %a#rsvp_link{:href => "#rsvp"}
              %i.icon-envelope-alt
              %span.link_text RSVP
  .main{:role => "main"}
    .character_container
      .anna.object.standing
      .jeffrey.object.standing
      .backup.object.standing
    %section#welcome.main_section
      %header
        %h1
          %span.jeffrey Jeffrey
          %span.and and
          %span.anna Anna
      .object_container
        .window.object
        .projectorscreen.object
        .couch.object
        .roomba.object
        .xbox.object
        .wii.object
        .macbookpro.object
        .macbookair.object
        .projector.object
        .ddrpads.object
    %section#about_us.main_section.regular_section
      %header.clearfix
        .container
          %h1 About Us
          %nav
            %ul
              %li
                %a{:href => "#our_story"} Our Story
              %li
                %a{:href => "#about_anna"} Anna
              %li
                %a{:href => "#about_jeffrey"} Jeffrey
              %li
                %a{:href => "#our_home"} Our Home
      .carousel.slide
        .carousel-inner
          %section#our_story.active.item
            .container
              %h1 Our Story
              = image_tag "ziplining.jpg", :alt => "Ziplining in Vancouver", :class => "image_right"
              %p It all started over sausages and beers (as all wonderful things should). Jeffrey and Anna met at Gestalt Haus while out with a mutual friend in the Mission. Initial conversation included UC Santa Cruz, where they both went to school (they never met during that time, however), as well as music - Anna had seen Jeffrey's sister's band play when they were performing around SF circa 2006.
              %p Nothing after that was particularly deliberate. In an effort to go see more live shows and see more friends in the process, Anna started creating Facebook events for different shows, inviting people to come along. Jeffrey, in an effort to meet more people upon moving to SF, accepted every invite he could attend. From there, something slowly but surely clicked. Their first date was at Fly Bar in Divisidero, followed by the Tallest Man on Earth at the Independent (he's actually not that tall in real life, but he makes excellent music).
              %p Jeffrey had recently moved into the city with new job prospects. He had come from his dad's place in San Rafael, where he was staying after realizing grad school in Seattle wasn't for him. In early 2009, he found a pleasant space in a not-so-pleasant neighborhood, and spent his free time exploring the city with his new Internet friends.
              %p Anna moved to SF in late 2008, after living in Berkeley and Oakland the previous three years. She originally moved to the East Bay after graduating from UC Santa Cruz in 2005 and securing a job at UC Berkeley. While her first apartment in SF was in a less desirable location (with an evil landlord, to boot), her housemates were fantastic.
              %p Shortly after they started dating, Anna's upstairs neighbors left the toilet running and her aforementioned crummy apartment was soon deluged; she and her housemates were left temporarily homeless and Anna was scheduled to stay with her parents for the time being. One evening, Anna was about to head to her parents' house, but her car was stuck behind another in her shared garage. She had the keys, but she had no idea how to drive a manual transmission Saab. Taking a page out of the Matrix, Jeffrey looked up instructions on how to drive a stick on his iPhone and downloaded them into his brain. After a stall or two, the car was moved and Anna could go along her way.
              %p
                Jeffrey helped Anna move into a nice new place with her housemates on the other side of the Mission, right next to SF General Hospital. This came in handy when Jeffrey smashed his shoulder into Market Street after getting hit by a car on his bike. Anna rushed to his rescue and brought him to bed (across the street). Anna's apartment was great for other, less
                painful reasons - there was a gorgeous cat, awesome landlords, and plenty of bright space to hold a series of puzzle parties, which are just what they sound like - parties where friends came over and solved #{link_to "one ridiculously challenging puzzle", "https://www.facebook.com/photo.php?v=727747356368", :target => "_blank"}.
              = image_tag "versailles.jpg", :alt => "Visiting Versailles", :class => "image_left"
              %p They traveled Europe in late 2010 -  London, Paris, the Cinque Terre, Florence, Rome, Berlin, Amsterdam - all within two-and-a-half weeks. Needless to say, it was spectacular. You can read all about it in the Updates section!
              %p
                Jeffrey moved in with Anna in 2011. The rest of the year was filled with travels - to Austin for SxSW, New Jersey to see Anna's family, and New York to see Jeffrey's. After a year of new sights and sounds, they finished the year off on Treasure Island, surrounded by friends and a beautiful panorama of the city where they had started their life. As the New Year's fireworks shot into the sky, Jeffrey took out the engagement ring, promptly dropped it, fumbled around in the dark, and
                presented it to Anna.
              %p In early 2012, they moved into an apartment in Hayes Valley with a beautiful overlook of their city. They adopted Backup, an orange, noisy, lovable menace. They've been settling into their newly engaged life, but they can't wait until 2013, when they'll be married in their city among family and friends!
          %section#about_anna.item
            .container
              %h1 Anna
              = image_tag "anna.jpg", :alt => "Anna in the Cinque Terre", :class => "image_left"
              %p Bio coming soon!
          %section#about_jeffrey.item
            .container
              %h1 Jeffrey
              = image_tag "jeffrey.jpg", :alt => "Jeffrey in Santa Cruz", :class => "image_left"
              %p Bio coming soon!
          %section#our_home.item
            .container
              %h1 Our Home
              = image_tag "ourhome.jpg", :alt => "The view from our window"
              %p Info coming soon!
      .object_container
        .track.object
        .tree1.object
        .tree2.object
        .weights.object
        .goggles.object
    %section#updates.main_section.regular_section
      %header
        .container
          %h1 Updates
          %nav
            %ul
              %li
                %a{:href => "#latest_entry"} Latest Entry
              %li
                %a{:href => "#archive"} Archive
      .carousel.slide
        .carousel-inner
          %section#latest_entry.active.item
            %article.container
              - first = @feed.entries.first
              %p.blog_date= first.published.strftime("%B %-d, %Y")
              %h1= link_to first.title, first.url
              %section= first.content.html_safe
              %p.blog_link= link_to "Comments", first.url, :target => "_blank"
          %section#archive.item
            .container
              %h1 Archive
              %table
                %tbody
                  - @feed.entries[1..-1].each do |entry|
                    %tr
                      %td= link_to entry.title, entry.url, :target => "_blank"
                      %td= entry.author
                      %td= entry.published.strftime("%B %-d, %Y")
              %p.blog_link= link_to "All updates on the full blog...", "/blog", :target => "_blank"
      .object_container
        .plane.object
        .eiffel.object
        .wtc.object
        .colosseum.object
        .zipline.object
        .bike1.object
        .bike2.object
        .helmet1.object
        .helmet2.object
        .binoculars.object
    %section#events.main_section.regular_section
      %header
        .container
          %h1 Events
          %nav
            %ul
              %li
                %a{:href => "#ceremony"} Ceremony
              %li
                %a{:href => "#accomodations"} Accomodations
      %section.content_section
        %p.coming_soon Information Coming Soon!
      .object_container
        .mirrorball.object
        .djbooth.object
        .chuppah.object
        .cake.object
    %section#rsvp.main_section.regular_section
      %header
        .container
          %h1 RSVP
      .carousel.slide
        .carousel-inner
          %section.active.item
            .container
              %p.respond Respond to our letter by mail or phone, or enter your RSVP code here:
              .centerer
                = form_for @invitation, :method => "put", :url => { :controller => "invitations", :action => "update" } do |f|
                  = f.text_field :rsvp
                  = f.submit "RSVP"
      .object_container
        .backcounter.object
        .sodastream.object
        .mitts.object
        .knives.object
        .microwave.object
        .scale.object
        .refrigerator.object
        .counter.object
        .mixer.object
        .grill.object
  = javascript_include_tag "application", :async => Rails.env == "production"
  :javascript
    var _gaq=[['_setAccount','UA-32988072-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));