<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adal and Lily</title>
    <meta name="description" content="The wedding website for Adal and Lily.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <meta property="og:image" content="<%= root_url %>og-image.png">
    <meta property="og:site_name" content="Adal and Lily">
    <meta property="og:locale" content="en_US">

    <link href='//fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'welcome' %>
    <%= javascript_include_tag 'head' %>
</head>
<body ng-app="AdalAndLily">

<h1 class="title"><a href="#/">Adal and Lily</a></h1>

<nav class="nav">
    <ul class="nav__list">
        <li>
            <a href="#/rsvp">RSVP</a>
        </li>
        <li>
            <a href="#/information">Wedding & Travel Information</a>
        </li>
        <li>
            <a href="#/about">Meet Adal &amp; Lily</a>
        </li>
        <li>
            <a href="#/manray">Honoring Man Ray & The Dada Movement</a>
        </li>
    </ul>
</nav>

<div class="view-container">
    <div ng-view="" class="view" ng-show="page !== undefined">
    </div>
</div>

<script type="text/ng-template" id="page.html">
    <section class="section section--rsvp" ng-show="page === 'rsvp'">
        <% if @invitation.present? && @invitation.persisted? %>
        <%= render :file => "invitations/edit" %>
        <% else %>
        <%= render :partial => "invitations/rsvp" %>
        <% end %>
    </section>
    <section class="section section--information" ng-show="page === 'information'">
        <p>Our wedding ceremony and reception will be held in Terrace on the Park, an iconic landmark built to be the heliport used during the 1960’s Worlds Fair in Queens, New York. Terrace on the Park is located at 52-11 111th Street, Flushing Meadows Park. <a href="https://www.google.com/maps/place/52-11+111th+St,+Corona,+NY+11368/@40.752004,-73.848982,14z/data=!4m2!3m1!1s0x89c25fd0f5c263e9:0xec468ba86d69aad7">Click here for directions.</a></p>
        <p>The wedding ceremony will begin at 4 PM. Please try to arrive early to allow sufficient time for all guests to be seated.</p>
        <p>We have reserved a number of hotel rooms at <a href="http://coronahotelny.com/">The Corona Hotel</a> in Queens for a rate of $150 a night including tax. This hotel is a 15 minute walk or 5 minute cab ride from the wedding venue. The hotel is also just a few blocks from the “7” subway line, which takes you directly to several major tourist destinations in Manhattan, such as Grand Central Terminal, Bryant Park, and Times Square.</p>
    </section>
    <section class="section section--about" ng-show="page === 'about'">
        <ul class="anchors">
            <li><a data-href="adal">Meet Adal</a></li>
            <li><a data-href="lily">Meet Lily</a></li>
        </ul>
        <div class="section__scroll-contents">
            <h2 id="adal">Adal</h2>
            <p>Adal was born in Chicago in 1973. His father, Adalberto, grew up on a ranch in Mexico and eventually migrated towards the city, where he met a Texan border-town girl of Mexican descent, Bernice Bailey, who was a telephone operator at the time. After marrying, they moved together to Chicago to start a family including Adal and his three sisters, Belinda Leticia, Blanca Denise, and Estella Yvonne. Adalberto worked as a construction worker, carpenter, and iron worker, eventually starting his own contracting business. Bernice Bailey had a successful career with the telephone monopolies of the time.</p>
            <p>By 1980, the Hernandez family had relocated back to the border town of Brownsville, Texas. In the 7th grade, Adal met art teacher Christopher McCoy, who helped finalize Adal’s decision to pursue life as an artist, and instilling the dream of someday succeeding as a visual artist in New York City. Throughout the 1990s, Adal studied with various artists as an assistant and apprentice of painting, sculpture, and tattoo art, focusing primarily on modern tattoo art as a means of earning his living. He lived and worked in Chicago, Austin, New Mexico, and Florida, finally realizing his New York dream in 1997, when New York City lifted a 35-year ban on tattoo practices. He began working in various tattoo shops around New York City.</p>
            <p>In 2008, Adal and his girlfriend at the time, Vivian Castellanos, were blessed with the birth of Kaius Dali Hernandez, who is now 5 years old and has proven to be highly charismatic, socially advanced, and academically inclined.</p>
            <p>After working in various tattoo shops, Adal realized the need to operate his own tattoo studio, which would also involve the other art disciplines of interest to him. Such was the birth of Majestic Tattoo NYC, which originally opened in Tribeca, and is now operating out of its second larger location in burgeoning north Brooklyn.</p>
            <h2 id="lily">Lily</h2>
            <p>Lily was born and raised in the San Francisco Bay Area by parents originally from New York City, Ellen and Glenn. Her father was instrumental to the success of the technology company, Sun Microsystems (later acquired by Oracle), and this exposed Lily and her brother, Jeffrey, to San Francisco’s newly developing technology industry. While growing up in a “techie” family, at a young age, Lily began to gravitate towards music, and discovered her intense passion for drums and percussion at a hippy party her mom brought her to at age 6.</p>
            <p>Throughout her school years, Lily worked hard to maintain an exemplary academic record, while focusing on her drums after school. She began playing in rock bands with friends from school in her early adolescence, which opened the door to the larger Bay Area music scene. By 17, she was drumming in popular local bands “Two Seconds” and “Elephone,” signing to labels, recording albums, performing throughout some of San Francisco’s most popular rock venues, playing festivals such as SXSW and BFD, and being interviewed on Live 105.3 FM and local television news channels.</p>
            <p>After a whirlwind of balancing rigorous honors and AP classes with a semi-professional music career, Lily decided to change course and attend college at New York University, partially to live closer to her New York family. Although she majored in Politics and Spanish, she found that the career path calling her name was in digital marketing. Drawing upon the technology skills she had learned from her father and brother, she immediately found extreme fulfilment as a Search Engine Optimization (SEO) specialist. Lily has worked at the digital marketing agency Flying Point Digital for 2.5 years, where she has worked her way up to managing the SEO department. In her free time, she DJs at local bars and clubs and frequents group classes at the gym.</p>
        </div>
        <ul class="anchors">
            <li><a data-href="adal">Meet Adal</a></li>
            <li><a data-href="lily">Meet Lily</a></li>
        </ul>
    </section>
    <section class="section section--manray" ng-show="page === 'manray'">
        Coming soon!
    </section>
</script>

<%= javascript_include_tag 'welcome' %>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>