!!!
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %title Jeffrey and Anna
  %meta{:content => "Jeffrey and Anna's Wedding Website!", :name => "description"}
  %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
  %meta{:content => '/objects/backup/standing-home.png', :property => 'og:image'}
  = csrf_meta_tags
  %link{:rel => "alternate", :type => "application/rss+xml", :title => "Jeffrey and Anna &raquo; Feed", :href => "/blog/feed/"}
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Imprima|Carter+One"
  = stylesheet_link_tag "application"
  = javascript_include_tag "libs/modernizr-2.6.2.min"
%body
  %header.page_header
    .container
      %h1
        %a#welcome_link{:href => "#welcome"}
          %span.jeffrey
            J
            %span.not_first_letter> effrey
          %span.and and
          %span.ampersand &
          %span.anna
            A
            %span.not_first_letter> nna
      %nav
        %ul
          %li
            %a#about_us_link{:href => "#about_us"}
              %i.icon-user
              %span.link_text About Us
          %li
            %a#updates_link{:href => "#updates"}
              %i.icon-rss
              %span.link_text Updates
          %li
            %a#events_link{:href => "#events"}
              %i.icon-calendar
              %span.link_text Events
          %li
            %a#rsvp_link{:href => "#rsvp"}
              %i.icon-envelope-alt
              %span.link_text RSVP
  .main{:role => "main"}
    .character_container
      .anna.object.standing
      .jeffrey.object.standing
      .backup.object.standing
    %section#welcome.main_section
      %header
        %h1
          %span.jeffrey Jeffrey
          %span.and and
          %span.anna Anna
        %h3 ...are getting married!
        %h2 August 17, 2013
        %h2 San Francisco, CA
        - if @remaining > 0
          %h3
            - if @remaining == 0
              Today's the big day!
            - else
              = @remaining
              days to go!
      .object_container
        .window.object
        .projectorscreen.object
        .couch.object
        .roomba.object
        .xbox.object
        .wii.object
        .macbookpro.object
        .macbookair.object
        .projector.object
        .ddrpads.object
    %section#about_us.main_section.regular_section
      %header.clearfix
        .container
          %h1 About Us
          %nav
            %ul
              %li
                %a.active{:href => "#our_story"} Our Story
              %li
                %a{:href => "#about_anna"} Anna
              %li
                %a{:href => "#about_jeffrey"} Jeffrey
      .carousel.slide
        .carousel-inner
          %section#our_story.active.item
            .container
              %h1 Our Story
              = image_tag "ziplining.jpg", :alt => "Ziplining in Vancouver", :class => "image_right", :width => 300, :height => 412
              %p It all started over sausages and beers (as all wonderful things should). Jeffrey and Anna met at Gestalt Haus while out with a mutual friend in the Mission. Initial conversation included UC Santa Cruz, where they both went to school (they never met during that time, however), as well as music &mdash; Anna had seen Jeffrey's sister's band play when they were performing around SF circa 2006.
              %p Nothing after that was particularly deliberate. In an effort to go see more live shows and see more friends in the process, Anna started creating Facebook events for different shows, inviting people to come along. Jeffrey, in an effort to meet more people upon moving to SF, accepted every invite he could attend. From there, something slowly but surely clicked. Their first date was at Fly Bar in Divisidero, followed by the Tallest Man on Earth at the Independent (he's actually not that tall in real life, but he makes excellent music).
              %p Jeffrey had recently moved into the city with new job prospects. He had come from his dad's place in San Rafael, where he was staying after realizing grad school in Seattle wasn't for him. In early 2009, he found a pleasant space in a not-so-pleasant neighborhood, and spent his free time exploring the city with his new Internet friends.
              %p Anna moved to SF in late 2008, after living in Berkeley and Oakland the previous three years. She originally moved to the East Bay after graduating from UC Santa Cruz in 2005 and securing a job at UC Berkeley. While her first apartment in SF was in a less desirable location (with an evil landlord, to boot), her housemates were fantastic.
              %p Shortly after they started dating, Anna's upstairs neighbors left the toilet running and her aforementioned crummy apartment was soon deluged; she and her housemates were left temporarily homeless and Anna was scheduled to stay with her parents for the time being. One evening, Anna was about to head to her parents' house, but her car was stuck behind another in her shared garage. She had the keys, but she had no idea how to drive a manual transmission Saab. Taking a page out of the Matrix, Jeffrey looked up instructions on how to drive a stick on his iPhone and downloaded them into his brain. After a stall or two, the car was moved and Anna could go along her way.
              %p
                Jeffrey helped Anna move into a nice new place with her housemates on the other side of the Mission, right next to SF General Hospital. This came in handy when Jeffrey smashed his shoulder into Market Street after getting hit by a car on his bike. Anna rushed to his rescue and brought him to bed (across the street). Anna's apartment was great for other, less
                painful reasons &mdash; there was a gorgeous cat, awesome landlords, and plenty of bright space to hold a series of puzzle parties, which are just what they sound like &mdash; parties where friends came over and solved #{link_to "one ridiculously challenging puzzle", "https://www.facebook.com/photo.php?v=727747356368", :target => "_blank"}.
              = image_tag "versailles.jpg", :alt => "Visiting Versailles", :class => "image_left", :width => 300, :height => 435
              %p They traveled Europe in late 2010 &mdash;  London, Paris, the Cinque Terre, Florence, Rome, Berlin, Amsterdam &mdash; all within two-and-a-half weeks. Needless to say, it was spectacular. You can read all about it in the #{link_to "Updates section", "#updates"}!
              %p
                Jeffrey moved in with Anna in 2011. The rest of the year was filled with travels &mdash; to Austin for SxSW, New Jersey to see Anna's family, and New York to see Jeffrey's. After a year of new sights and sounds, they finished the year off on Treasure Island, surrounded by friends and a beautiful panorama of the city where they had started their life. As the New Year's fireworks shot into the sky, Jeffrey took out the engagement ring, promptly dropped it, fumbled around in the dark, and
                presented it to Anna.
              %p In early 2012, they moved into an apartment in Hayes Valley with a beautiful overlook of their city. They adopted Backup, an orange, noisy, lovable menace. They've been settling into their newly engaged life, but they can't wait until 2013, when they'll be married in their city among family and friends!
          %section#about_anna.item
            .container
              %h1 Anna
              = image_tag "anna.jpg", :alt => "Anna in the Cinque Terre", :class => "image_left", :width => 400, :height => 277
              %p
                Anna was born in New Jersey, but her family moved to Northern California before she could truly call herself a "Jersey girl." The subsequent coming-of-age years in Sebastopol revolved around volleyball, Gravenstein apples and a high school located next to a dairy farm.
              %p
                Thus far, her adult life has been a love letter to the University of California: she spent four awesome years in the majestic redwood forest of UC Santa Cruz, and she has worked at UC Berkeley ever since she graduated. She started working in student affairs before transitioning into web editing and communications for a less student-centric department; currently, she gets to work on high-profile university websites, plus she gets to use the word "Specialist" in her payroll title!
              %p
                After entering the post-college world, Anna discovered a love for independent music, which later developed into a specific focus on Bay Area-based bands and artists. Her involvement with several local music blogs outside of work led to a part-time gig with #{link_to "the Bay Bridged", "http://www.thebaybridged.com/", :target => "_blank"}, a local music website and non-profit, where she assists with blog and event production.
              %p
                In her spare time, Anna also enjoys cooking/baking, reading, spending time with friends and family, swimming, running, and simply walking around San Francisco.
          %section#about_jeffrey.item
            .container
              %h1 Jeffrey
              = image_tag "jeffrey.jpg", :alt => "Jeffrey in Santa Cruz", :class => "image_left", :width => 400, :height => 285
              %p
                Jeffrey grew up in the Bay Area. Born in Fremont and growing up in San
                Rafael, he spent his youth drawing comics. In fact, he drew everything
                on this site!
              %p
                He became enamored with the web early on &mdash; he made his first website
                in 1994. He's been constantly making them ever since, and lucky for
                him, it's an important tool of the trade in San Francisco.
              %p
                He also loves video games, especially platformers and music games. He
                kept in shape throughout high school and college by playing Dance
                Dance Revolution. He's now more focused on long-distance running, but
                he's always got time for a trip to the arcade.
              %p
                From his apartment in Hayes Valley, Jeffrey bikes down Market Street
                to work on the Embarcadero every day. He also bikes to #{link_to "Noisebridge", "https://noisebridge.net", :target => "_blank"}, a
                local hackerspace, where he teaches a free class on frontend web
                development.
      .object_container
        .track.object
        .tree1.object
        .tree2.object
        .weights.object
        .goggles.object
    %section#updates.main_section.regular_section
      %header
        .container
          %h1 Updates
          %nav
            %ul
              %li
                %a.active{:href => "#latest_entry"} Latest Entry
              %li
                %a{:href => "#archive"} Archive
      .carousel.slide
        .carousel-inner
          %section#latest_entry.active.item
            %article.container
              - unless @feed.class == Fixnum
                - first = @feed.entries.first
                %h1= link_to first.title, first.url, :target => "_blank"
                %span.blog_metadata
                  posted by
                  = first.author
                  on
                  %time.blog_date{:datetime => first.published.strftime("%Y-%m-%d")}= link_to first.published.strftime("%B %-d, %Y"), first.url, :target => "_blank"
                = first.content.html_safe
                %p.blog_link= link_to "Comments", first.url, :target => "_blank"
          %section#archive.item
            .container
              %h1 Archive
              %table
                %tbody
                  - unless @feed.class == Fixnum
                    - @feed.entries[1..-1].each do |entry|
                      %tr
                        %td= link_to entry.title, entry.url, :target => "_blank"
                        %td.author= entry.author
                        %td= entry.published.strftime("%B %-d, %Y")
              %p.blog_link= link_to "All updates on the full blog...", "/blog", :target => "_blank"
      .object_container
        .plane.object
        .eiffel.object
        .wtc.object
        .colosseum.object
        .zipline.object
        .bike1.object
        .bike2.object
        .helmet1.object
        .helmet2.object
        .binoculars.object
    %section#events.main_section.regular_section
      %header
        .container
          %h1 Events
          %nav
            %ul
              %li
                %a.active{:href => "#festivities"} Festivities
              %li
                %a{:href => "#visitors_guide"} Visitor's Guide
              %li
                %a{:href => "#registry"} Registry
      .carousel.slide
        .carousel-inner
          %section#festivities.active.item
            .container
              %h1 Festivities
              %p
                All festivities will take place at
                %b
                  = link_to "the Winery", "http://winery-sf.com/", :target => "_blank"
                  on Treasure Island in San Francisco, on Saturday, August 17,
                  2013.
              = link_to (image_tag 'winery.jpg', width: 760), 'http://winery-sf.com/', target: '_blank'
              %p
                Shuttles will leave from both the Kensington and Marriott (details about the hotels are on the
                = link_to "Accommodations", "#accommodations"
                page) around 4:30. Make sure the email in your
                = link_to "RSVP", "#rsvp"
                is correct so we can email you with further details as we get
                them.
              %p
                The ceremony will start at 5:30. The reception begins
                immediately afterward.
              = link_to (image_tag 'sift.jpg', width: 760), 'http://www.siftcupcakes.com/', target: '_blank'
              %p
                Dinner will be served, buffet-style, by the Winery around 7:00.
                Dessert will be provided by Sift Cupcakes.
                Dietary options are available &mdash; please note on your
                = link_to "RSVP", "#rsvp"
                if you have any special requests!
              %p
                After dinner, be ready to dance and to sing! We will have
                karaoke sensation DJ Purple taking requests for the rest of
                the night.
              = link_to (image_tag 'djpurple.jpg', width: 760), 'http://www.djpurple.com/', target: '_blank'
              %p
                Attire will be dressy, but not formal. Full gowns and
                three-piece suits not required.
              %p
                Above times and specifics are still subject to change &mdash; we're
                still a few months out!
          %section#visitors_guide.item
            %a#our_home
            .container
              %h1 Visitor's Guide
              %p
                We've lived in San Francisco for as long as we've known each other. We
                love the city and its many neighborhoods &mdash; the Tenderloin, Mission,
                Potrero Hill and Hayes Valley being the sites of our many homes &mdash; and
                enjoy making the most of it from the bay to the breakers.
              %h2 Destinations
              %p
                If you're visiting San Francisco, there are the obvious sights and
                sounds.
              %p
                Your first vacation shouldn't be complete without a walk along
                the Embarcadero from the
                = link_to 'Ferry Building', 'https://maps.google.com/maps?cid=7851923780944608967&q=Ferry+Building+Marketplace', :target => '_blank'
                to
                <a href="https://maps.google.com/maps?hl=en&q=san+francisco+fisherman's+wharf&dtab=2&hq=&hnear=Fisherman's+Wharf,+San+Francisco,+California&t=m&z=15&vpsrc=0&iwloc=A" target="_blank">Fisherman's Wharf</a>.
                Along the walk, you'll come across the
                <a href="https://maps.google.com/maps?cid=802656663955829184&q=Exploratorium" target="_blank">Exploratorium</a>,
                a unique science museum that recently made Pier 15 its home,
                <a href="https://maps.google.com/maps?cid=13472009623945261982&q=PIER+39" target="_blank">Pier 39</a>,
                a maritime shopping center, and
                <a href="https://maps.google.com/maps?cid=17121182445931260600&q=Musée+Mécanique" target="_blank">Musée Mécanique</a>,
                Pier 45's arcade game museum.
              %p
                A hike up the nearby Telegraph Hill to
                <a href="https://maps.google.com/maps?cid=16034424363326561604&q=Coit+Tower" target="_blank">Coit Tower</a>
                will give you a great view of downtown.
              %p
                A walk along the
                = link_to 'Golden Gate Bridge', 'https://maps.google.com/maps?cid=14838537888721818889&q=Golden+Gate+Bridge', :target => '_blank'
                can provide spectacular views of the north
                bay when it's not fogged over. Dress warmly just in case!
              %p
                <a href="https://maps.google.com/maps?cid=8196141654667405104&q=Golden+Gate+Park" target="_blank">Golden Gate Park</a>
                has a handful of beautiful sights. Walk along John F Kennedy
                Drive and you'll come across the
                <a href="https://maps.google.com/maps?cid=5547410775768857631&q=Conservatory+of+Flowers" target="_blank">Conservatory of Flowers</a>
                botanical garden, the
                <a href="https://maps.google.com/maps?cid=1982859062306917049&q=California+Academy+of+Sciences" target="_blank">Academy of Sciences</a>,
                the
                <a href="https://maps.google.com/maps?cid=7854251046532539466&q=de+Young+Museum" target="_blank">de Young Museum</a>
                and the
                <a href="https://maps.google.com/maps?cid=3148009233692707889&q=Japanese+Tea+Garden" target="_blank">Japanese Tea Garden</a>.
                Further along, you can rent boats at
                <a href="https://maps.google.com/maps?cid=7524988351696926141&q=Stow+Lake+Boathouse" target="_blank">Stow Lake</a>,
                or spectate at the
                <a href="https://maps.google.com/maps?cid=7985657662955635316&q=Bison+Paddock" target="_blank">Bison Paddock</a>.
                At the end of the road,
                <a href="https://maps.google.com/maps?q=Ocean+Beach&hq=&hnear=0x8085879469edc663:0x8a1e788f0b2d67fc,Ocean+Beach" target="_blank">Ocean Beach</a>
                awaits you.
              %p
                Of course, there are many attractions that are off the beaten path.
                Our neighborhood,
                <a href="https://maps.google.com/maps?q=hayes+valley&ie=UTF-8&hq=&hnear=0x808580a196ede719:0x2fb5607634331f2f,Hayes+Valley,+San+Francisco,+CA" target="_blank">Hayes Valley</a>,
                and the adjoining
                = link_to 'Mission District', 'https://maps.google.com/maps?q=mission+district&ie=UTF-8&hq=&hnear=0x808f7e3c5f803323:0x35800073de45189,Mission+District,+San+Francisco,+CA', :target => '_blank'
                are full of cute shops, delicious food, and parks with a view.
                <a href="https://maps.google.com/maps?cid=11968567728930983264&q=Mission+Dolores+Park" target="_blank">Dolores Park</a>,
                in particular, is a major attraction for
                the age 20-30 crowd. For a great day in the park, get food and
                drinks at nearby
                <a href="https://maps.google.com/maps?cid=9386461848810447971&q=Rhea's+Market+and+Deli" target="_blank">Rhea's Deli</a>
                or
                <a href="https://maps.google.com/maps?cid=16741008033048840660&q=Bi-Rite+Market" target="_blank">Bi-Rite Market</a>.
                Move higher up for the best views. Just be discreet with
                alcoholic beverages. There's a fantastic playground for children
                as well.
              %p
                If you're looking to hike the many hills of our city,
                <a href="https://maps.google.com/maps?q=bernal+heights+summit&hnear=Bernal+Heights+Summit" target="_blank">Bernal Hill</a>
                and
                <a href="https://maps.google.com/maps?cid=18057019365089648999&q=Twin+Peaks" target="_blank">Twin Peaks</a>
                provide short expeditions with great visual payoffs.
                <a href="https://maps.google.com/maps?cid=14819472907912348186&q=Mount+Sutro+Open+Space+Reserve" target="_blank">Mount Sutro</a>
                provides a lovely hike through a lush forest with ocean views.
              %h2 Restaurants
              %p
                Some might think that the official food of San Francisco is
                clam chowder in a bread bowl, but they'd be wrong &mdash; it's
                definitely the super burrito, invented right in the Mission.
                Head to
                <a href="https://maps.google.com/maps?cid=14646507251947174243&q=Taqueria+Cancun" target="_blank">Taqueria Cancún</a>
                or
                <a href="https://maps.google.com/maps?cid=14071389523854149921&q=Taquerias+El+Farolito" target="_blank">El Farolito</a> for what
                most (not all) consider to be the best of the bunch.
              %p
                The sandwiches at
                <a href="https://maps.google.com/maps?cid=14006805666799305521&q=Ike's+Place" target="_blank">Ike's Place</a>
                and the aforementioned
                <a href="https://maps.google.com/maps?cid=9386461848810447971&q=Rhea's+Market+and+Deli" target="_blank">Rhea's</a>
                are so popular that it's often best to check out
                their menus online and call ahead.
              %p
                Food trucks are essentially haute fast food, and San Francisco's
                got them in spades. In addition to the
                <a href="http://offthegridsf.com/" target="_blank">Off the Grid</a>
                pop-ups throughout the city, there's
                <a href="https://maps.google.com/maps?cid=912675714195272942&q=Soma+Streat+Food+PArk" target="_blank">SOMA StrEAT Food Park</a>,
                a snazzy setup which has a constantly rotating cast of
                trucks, plus wine and beer.
              %p
                For a great dinner date, there's
                <a href="https://maps.google.com/maps?cid=15943452779294078432&q=Starbelly" target="_blank">Starbelly</a>,
                a new American restaurant with some fancy pizzas, among other
                things.
                <a href="https://maps.google.com/maps?cid=3410591911709045721&q=Foreign+Cinema" target="_blank">Foreign Cinema</a>
                has exquisite dishes and an outdoor courtyard.
                <a href="https://maps.google.com/maps?cid=7823318469662210047&q=Lolinda" target="_blank">Lolinda</a>
                and
                <a href="https://maps.google.com/maps?cid=339735924400313677&q=Destino" target="_blank">Destino</a>
                have delicious South American small plates &mdash; their meat
                options are not to be missed.
              %p
                If you're really looking to splurge, there's
                <a href="https://maps.google.com/maps?cid=643548390411983809&q=Restaurant+Gary+Danko" target="_blank">Gary Danko</a>
                and
                <a href="https://maps.google.com/maps?cid=1119803389660765289&q=Michael+Mina" target="_blank">Michael Mina</a>,
                two treasures with creative menus and
                drinks, and
                <a href="https://maps.google.com/maps?cid=8213457289968802272&q=Aziza" target="_blank">Aziza</a>
                with a Moroccan-inspired menu. Consider reserving far ahead of
                time for these fancier options.
              %p
                Trust us: while we might not be on the east coast, our pizza is
                definitely worth a try. Go to
                <a href="https://maps.google.com/maps?cid=4855189456422118753&q=Pauline's+Pizza+%26+Wine+Bar" target="_blank">Pauline's</a>,
                which also serves their own wine,
                <a href="https://maps.google.com/maps?cid=11972030858647125931&q=Little+Star+Pizza" target="_blank">Little Star</a>
                for deep dish with a cornmeal crust, or
                <a href="https://maps.google.com/maps?cid=6689533816815161239&q=Patxi's" target="_blank">Patxi's</a>
                if the former is too crowded.
              %p
                <a href="https://maps.google.com/maps?cid=1832286806934737056&q=Lahore+Karahi" target="_blank">Lahore Karahi</a>
                is our favorite Indian/Pakistani place, and
                <a href="https://maps.google.com/maps?cid=8686963272104716245&q=Mandalay+Restaurant" target="_blank">Mandalay</a>
                serves great Burmese food. If you've never tried Burmese food,
                we think it combines the best of Chinese, Thai, and Vietnamese
                cooking.
              %h2 Drinks
              %p
                <a href="https://maps.google.com/maps?cid=17603668988289106272&q=Magnolia+Gastropub+and+Brewery" target="_blank">Magnolia Pub</a>
                and
                <a href="https://maps.google.com/maps?cid=5087650596102098435&q=The+Monk's+Kettle" target="_blank">Monk's Kettle</a>
                are the go-to places for great beer selections along with some
                delectable pub food.
                <a href="https://maps.google.com/maps?cid=14952440980636118476&q=Toronado" target="_blank">Toronado</a>
                also has a wide variety of beers, and
                sausages next door at
                <a href="https://maps.google.com/maps?cid=7253671880088827405&q=Rosamunde+Sausage+Grill" target="_blank">Rosamunde</a>
                make the night complete.
              %p
                <a href="https://maps.google.com/maps?cid=10398550498312708120&q=83+Proof" target="_blank">83 Proof</a>
                hosts some amazing mixologists,
                <a href="https://maps.google.com/maps?cid=6141025328325269876&q=Hôtel+Biron" target="_blank">Hôtel Biron</a>
                is a dark, cozy wine bar,
                <a href="https://maps.google.com/maps?cid=10849619702910039733&q=Dr+Teeth+%26+the+Electric+Mayhem" target="_blank">Dr. Teeth & the Electric Mayhem</a>
                is a lively spot with an awesome fried food menu, and
                <a href="https://maps.google.com/maps?cid=3716731535335509784&q=Two+Sisters+Bar+and+Books" target="_blank">Two Sisters Bar and Books</a>'
                cocktails are outstanding.
              %h2 Desserts
              %p
                Looking for ice cream? Head to
                <a href="https://maps.google.com/maps?cid=8475413643463136828&q=Humphry+Slocombe" target="_blank">Humphry Slocombe</a>
                for some
                strange but surprisingly tasty flavors.
                <a href="https://maps.google.com/maps?cid=17824113911781466774&q=Bi-Rite+Creamery" target="_blank">Bi-Rite Creamery</a>
                also has some of the best scoops around, if you can bear the
                line.
                <a href="https://maps.google.com/maps?cid=4314750827561911268&q=Smitten+Ice+Cream" target="_blank">Smitten</a>'s
                ice cream is churned using dry ice, making it exceptionally
                smooth.
              %p
                Cupcakes are especially hip. Try
                <a href="https://maps.google.com/maps?cid=10156983768624437674&q=Kara's+Cupcakes" target="_blank">Kara's Cupcakes</a>,
                in truck or storefront form. And if you can't wait for our
                wedding, visit
                <a href="https://maps.google.com/maps?cid=1160498047227722780&q=Sift+Cupcake+%2B+Dessert+Bar" target="_blank">Sift Cupcakes</a>
                for some of the moistest ones we've ever had.
              %p
                Finally, try to catch the
                <a href="http://thecremebruleecart.com/" target="_blank">Crème Brûlée Cart</a>
                if you can. And if you're looking for an upscale twist on a
                traditional candy shop, don't miss
                <a href="https://maps.google.com/maps?cid=3412752447800550784&q=Miette" target="_blank">Miette</a>.
              %h2 A Day in Hayes Valley
              %p
                Want to explore our neighborhood? Try this itinerary out for
                size.
              %p
                Start the day with some breakfast. Head to
                <a href="https://maps.google.com/maps?cid=10903372771022708750&q=Ritual+Coffee+Roasters" target="_blank">Ritual</a>
                for
                great coffee, or have a large cup of joe at
                <a href="https://maps.google.com/maps?cid=15695247985626038492&q=La+Boulange" target="_blank">La Boulange</a>
                along with some pastries. You can go for a full breakfast
                at
                <a href="https://maps.google.com/maps?cid=14414166951104337784&q=Stacks" target="_blank">Stacks</a>,
                or head up Haight for
                <a href="https://maps.google.com/maps?cid=10316009767502187570&q=Kate's+Kitchen" target="_blank">Kate's Kitchen</a>.
              %p
                <a href="https://maps.google.com/maps?cid=2451907014756220425&q=Samovar+Tea+Lounge" target="_blank">Samovar</a>
                is a unique tea house which is great for
                breakfast or lunch. Other excellent lunch options include
                <a href="https://maps.google.com/maps?cid=17490747907774358682&q=Flipper's+Gourmet+Burgers" target="_blank">Flipper's Gourmet Burgers</a>
                and
                <a href="https://maps.google.com/maps?cid=6689533816815161239&q=Patxi's" target="_blank">Patxi's</a>
                pizza.
              %p
                From Hayes Valley, you can rent bikes and ride to Golden Gate
                Park along
                <a href="https://sfwiki.org/the_wiggle" target="_blank">the Wiggle</a>,
                a popular route that avoids most
                of the hills. Or if you're looking to indulge in the arts, see
                a show at the
                <a href="https://maps.google.com/maps?cid=18141891765408404528&q=SFJAZZ+Center" target="_blank">SFJAZZ Center</a>.
              %p
                There are numerous great restaurants along Hayes or Gough
                Street, but especially worth mention are
                <a href="https://maps.google.com/maps?cid=2384648456497744885&q=Suppenküche" target="_blank">Suppenküche</a>,
                a German joint,
                <a href="https://maps.google.com/maps?cid=10393259441545295445&q=Lers+Ros+Thai" target="_blank">Lers Ros</a>
                for fancy Thai cuisine, and
                <a href="https://maps.google.com/maps?cid=12959581309685392059&q=Sauce" target="_blank">Sauce</a>,
                whose menu has some interesting twists on the classics.
              %p
                Finally, go for some drinks. Try
                <a href="https://maps.google.com/maps?cid=3716731535335509784&q=Two+Sisters+Bar+and+Books" target="_blank">Two Sisters</a>,
                <a href="https://maps.google.com/maps?cid=15985200342888779386&q=Place+Pigalle" target="_blank">Place Pigalle</a>,
                or head to the
                <a href="https://maps.google.com/maps?cid=10693638835882700677&q=Biergarten" target="_blank">Biergarten</a>,
                an outdoor venue with large pours and warm pretzels.
              %h2 Accommodations
              %p
                If you haven't booked at
                <a href="https://maps.google.com/maps?cid=8364164026005154019&q=Kensington+Park+Hotel" target="_blank">Hotel Kensington</a>,
                or the
                <a href="https://maps.google.com/maps?cid=8132115881282922372&q=Courtyard+Oakland+Emeryville" target="_blank">Courtyard Marriott</a>
                in Emeryville, we might also suggest the
                <a href="https://maps.google.com/maps?cid=13314371968109301424&q=Columbus+Motor+Inn" target="_blank">Columbus Motor Inn</a>
                in North Beach, the
                <a href="https://maps.google.com/maps?cid=1619372857147661514&q=Hilton+Garden+Inn+San+Francisco/Oakland+Bay+Bridge" target="_blank">Hilton Garden Inn</a>
                in Emeryville, or the
                <a href="https://maps.google.com/maps?cid=9640017146356501360&q=The+Inn+at+Jack+London+Square" target="_blank">Inn at Jack London Square</a>
                in Oakland.
              %h2 Finally...
              %p
                When all else fails, try searching
                #{link_to "Yelp", "http://www.yelp.com/", :target => "_blank"}
                or reading
                #{link_to "WikiTravel", "http://wikitravel.org/en/San_Francisco", :target => "_blank"}
                for finding food, activities, or accommodations in the area. If
                you have any questions, please don't hesitate to
                #{mail_to "wedding@jeffreyandanna.us", "email"} or call us!
          %section#registry.item
            .container
              %h1 Registry
              .centerer
                %a{:href => 'https://www.registrylove.com/registries/jeffreyandanna', :target => '_blank'}
                  %p Our registry is available on RegistryLove! Click to continue to the registry.
                  = image_tag 'registrylove.jpg', :alt => 'RegistryLove logo'
      .object_container
        .mirrorball.object
        .djbooth.object
        .chuppah.object
        .cake.object
    %section#rsvp.main_section.regular_section
      %header
        .container
          %h1 RSVP
      .carousel.slide
        .carousel-inner
          %section.active.item
            .container
              - if @invitation.present? && @invitation.persisted?
                = render :file => "invitations/edit"
              - else
                = render :partial => "invitations/rsvp"
      .object_container
        .backcounter.object
        .sodastream.object
        .mitts.object
        .knives.object
        .microwave.object
        .scale.object
        .refrigerator.object
        .counter.object
        .mixer.object
        .grill.object
    %input{:type => "range", :id => "container_opacity", :class => "container_opacity", :value => 100}
  = javascript_include_tag "application", :async => (%w(staging production).include? Rails.env)
  :javascript
    var _gaq=[['_setAccount','UA-32988072-1'],['_trackPageview'],['_setDomain','#{request.host}']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));