<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adal and Lily</title>
    <meta name="description" content="The wedding website for Adal and Lily.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <meta property="og:image" content="<%= root_url %>og-image.png">
    <meta property="og:site_name" content="Adal and Lily">
    <meta property="og:locale" content="en_US">

    <link href='//fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'welcome' %>
    <%= javascript_include_tag 'head' %>
</head>
<body ng-app="AdalAndLily">

<h1 class="title"><a href="#/">Adal and Lily</a></h1>

<nav class="nav">
    <ul class="nav__list">
        <li>
            <a href="#/rsvp">RSVP</a>
        </li>
        <li>
            <a href="#/information">Wedding & Travel Information</a>
        </li>
        <li>
            <a href="#/about">Meet Adal &amp; Lily</a>
        </li>
        <li>
            <a href="#/manray">Honoring Man Ray & The Dada Movement</a>
        </li>
        <li>
            <a href="#/photos">Photo Gallery</a>
        </li>
        <li>
            <a href="#/gifts">Gifts</a>
        </li>
    </ul>
</nav>

<div class="view-container">
    <div ng-view="" class="view" ng-show="page !== undefined">
    </div>
</div>

<div class="hidden-photos">
  <script src="http://adal-and-lily.tumblr.com/js"></script>
</div>

<script type="text/ng-template" id="page.html">
    <section class="section section--rsvp" ng-show="page === 'rsvp'">
        <% if @invitation.present? && @invitation.persisted? %>
        <%= render :file => "invitations/edit" %>
        <% else %>
        <%= render :partial => "invitations/rsvp" %>
        <% end %>
    </section>
    <section class="section section--information" ng-show="page === 'information'">
        <p>Our wedding ceremony and reception will be held on Saturday, May 23, 2015 at Terrace on the Park, an iconic landmark built to be the heliport used during the 1960’s Worlds Fair in Queens, New York. Terrace on the Park is located at 52-11 111th Street, Flushing Meadows Park. <a href="https://www.google.com/maps/place/52-11+111th+St,+Corona,+NY+11368/@40.752004,-73.848982,14z/data=!4m2!3m1!1s0x89c25fd0f5c263e9:0xec468ba86d69aad7">Click here for directions.</a></p>
        <p>The wedding ceremony will begin at 4 PM. Please try to arrive early to allow sufficient time for all guests to be seated.</p>
        <p>We have reserved a number of guest rooms at two Holiday Inn locations in Queens. The most affordable option ($165 a night plus tax) is the <a href="http://www.holidayinn.com/hotels/us/en/corona/nycoa/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn&qChld=0&qFRA=1&qGRM=0&qGrpCd=FAD&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=12&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505&icdv=99801505">Holiday Inn LaGuardia Airport</a>, which is walking distance from the wedding venue, adjacent to Flushing Meadows Park, and close to LaGuardia Airport. <a href="http://www.holidayinn.com/hotels/us/en/corona/nycoa/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn&qChld=0&qFRA=1&qGRM=0&qGrpCd=FAD&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=12&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505&icdv=99801505">Click here to reserve at our group rate</a>, or dial 1 (877) 834-3613 and mention the hotel name and the Faden-Hernandez Wedding.</p>
        <p>For those who wish to stay closer to Manhattan, we have also reserved rooms at the <a href="http://www.ihg.com/holidayinn/hotels/us/en/long-island-city/lgali/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn&qChld=0&qFRA=1&qGRM=0&qGrpCd=FHW&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=12&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505&icdv=99801505">Holiday Inn Long Island City (Manhattan View)</a>, which is a quick subway ride from Times Square, Bryant Park, Rockefeller Center, Williamsburg, and other tourist attractions. <a href="http://www.ihg.com/holidayinn/hotels/us/en/long-island-city/lgali/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn&qChld=0&qFRA=1&qGRM=0&qGrpCd=FHW&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=12&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505&icdv=99801505">Click here to reserve at our group rate</a>, or dial 1 (877) 834-3613 and mention the hotel name and the Faden-Hernandez Wedding.</p>
        <p>Shuttles will be provided from both hotels to the wedding venue.</p>
    </section>
    <section class="section section--about" ng-show="page === 'about'">
        <ul class="anchors">
            <li><a data-href="adal">Meet Adal</a></li>
            <li><a data-href="lily">Meet Lily</a></li>
        </ul>
        <div class="section__scroll-contents">
            <h2 id="adal">Adal</h2>
            <p>Adal was born in Chicago in 1973. His father, Adalberto, grew up on a ranch in Mexico and eventually migrated towards the city, where he met a Texan border-town girl of Mexican descent, Bernice Bailey, who was a telephone operator at the time. After marrying, they moved together to Chicago to start a family including Adal and his three sisters, Belinda Leticia, Blanca Denise, and Estella Yvonne. Adalberto worked as a construction worker, carpenter, and iron worker, eventually starting his own contracting business. Bernice Bailey had a successful career with the telephone monopolies of the time.</p>
            <p>By 1980, the Hernandez family had relocated back to the border town of Brownsville, Texas. In the 7th grade, Adal met art teacher Christopher McCoy, who helped finalize Adal’s decision to pursue life as an artist, and instilling the dream of someday succeeding as a visual artist in New York City. Throughout the 1990s, Adal studied with various artists as an assistant and apprentice of painting, sculpture, and tattoo art, focusing primarily on modern tattoo art as a means of earning his living. He lived and worked in Chicago, Austin, New Mexico, and Florida, finally realizing his New York dream in 1997, when New York City lifted a 35-year ban on tattoo practices. He began working in various tattoo shops around New York City.</p>
            <p>In 2008, Adal and his girlfriend at the time, Vivian Castellanos, were blessed with the birth of Kaius Dali Hernandez, who is now 5 years old and has proven to be highly charismatic, socially advanced, and academically inclined.</p>
            <p>After working in various tattoo shops, Adal realized the need to operate his own tattoo studio, which would also involve the other art disciplines of interest to him. Such was the birth of Majestic Tattoo NYC, which originally opened in Tribeca, and is now operating out of its second larger location in burgeoning north Brooklyn.</p>
            <h2 id="lily">Lily</h2>
            <p>Lily was born and raised in the San Francisco Bay Area by parents originally from New York City, Ellen and Glenn. Her father was instrumental to the success of the technology company, Sun Microsystems (later acquired by Oracle), and this exposed Lily and her brother, Jeffrey, to San Francisco’s newly developing technology industry. While growing up in a “techie” family, at a young age, Lily began to gravitate towards music, and discovered her intense passion for drums and percussion at a hippy party her mom brought her to at age 6.</p>
            <p>Throughout her school years, Lily worked hard to maintain an exemplary academic record, while focusing on her drums after school. She began playing in rock bands with friends from school in her early adolescence, which opened the door to the larger Bay Area music scene. By 17, she was drumming in popular local bands “Two Seconds” and “Elephone,” signing to labels, recording albums, performing throughout some of San Francisco’s most popular rock venues, playing festivals such as SXSW and BFD, and being interviewed on Live 105.3 FM and local television news channels.</p>
            <p>After a whirlwind of balancing rigorous honors and AP classes with a semi-professional music career, Lily decided to change course and attend college at New York University, partially to live closer to her New York family. Although she majored in Politics and Spanish, she found that the career path calling her name was in digital marketing. Drawing upon the technology skills she had learned from her father and brother, she immediately found extreme fulfilment as a Search Engine Optimization (SEO) specialist. Lily has worked at the digital marketing agency Flying Point Digital for 2.5 years, where she has worked her way up to managing the SEO department. In her free time, she DJs at local bars and clubs and frequents group classes at the gym.</p>
        </div>
        <ul class="anchors">
            <li><a data-href="adal">Meet Adal</a></li>
            <li><a data-href="lily">Meet Lily</a></li>
        </ul>
    </section>
    <section class="section section--manray" ng-show="page === 'manray'">
        <p>The Dada artist Man Ray, who is Lily’s great-granduncle, has served as a tremendous source of artistic inspiration for both Lily and Adal.</p>
        <p>In June 2011, Lily decided she wanted to get a tattoo of Man Ray’s <i>Calla Lillies</i>, and she chose Adal as her tattoo artist after he was recommended by a mutual friend. Adal was no stranger to the works of Man Ray and the Dada and surrealist movements - he had even given his son the middle name “Dali.” From an early age, Adal had gravitated towards the disposition of the Dada manifestos and notions of anti-art inevitably creating art, drawing inspiration from Rayographs, and the glowing qualities of Man Ray’s “solarized” prints.</p>
        <p>In honor of Man Ray, and in an effort to continue his legacy and chosen name through bloodline, the couple will assume the surname Ray through this marital union.</p>
    </section>
    <section class="section section--photos" ng-show="page === 'photos'">
        <photos></photos>
        <a href="http://adal-and-lily.tumblr.com">More...</a>
    </section>
    <section class="section section--gifts" ng-show="page === 'gifts'">
        <p>We do not have a formal registry. If you wish to leave us a wedding gift, we would be greatly appreciative of a monetary gift to help us achieve our goals: enhancing and investing in our home and shared business, Majestic Tattoo NYC, traveling, and saving money.</p>
        <p>Please make checks out to Adal Hernandez <strong>OR</strong> Lily Faden. Please contact us directly if you wish to send a check in the mail by emailing us at <a href="mailto:adalandlily@gmail.com">adalandlily@gmail.com</a>.</p>
    </section>
</script>

<%= javascript_include_tag 'welcome' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59984939-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>