%fieldset.container
  = f.link_to_remove " Remove this guest".html_safe, :class => "icon-remove-sign"
  -# Moves legend down
  %div
    %legend Guest
  .rsvp__row
    = f.label :name
    = f.text_field :name, :class => 'guest_name'
  .rsvp__row
    = f.label :special_needs
    = f.text_field :special_needs
  -#.rsvp__row
    = f.label :under_4
    = f.check_box :under_4