.centerer
  %p Respond to our letter by mail or phone, or enter your RSVP code here:
  = form_for @invitation, :method => "put", :url => { :controller => "invitations", :action => "update" } do |f|
    = hidden_field_tag :updating_invitation, true
    = f.text_field :rsvp, :maxlength => 4
    = f.submit "RSVP"
  - if @invitation.errors.present?
    %p= @invitation.errors[:base].first
  - else
    %p
      If you can't make it, please enter your RSVP anyway, and in the next step you will be able
      to set "Attending" to "No" and click "Update Invitation."