%p
  - if @invitation.going
    Thank you for sending your RSVP!
  - else
    Sorry to miss you at our event.
- if @invitation.going
  %p
    If you can come,
    %strong you're all set.
    If you can't come, or if you need to make any changes, you can do so
    below, then press "Update Invitation".
= nested_form_for @invitation, :method => 'patch', :url => rsvp_path do |f|
  .rsvp__row
    = f.label :going, "Attending"
    = f.radio_button :going, "1", :checked => @invitation.going
    = f.label :going, "Yes", :class => 'rsvp__going'
    = f.radio_button :going, "0", :checked => !@invitation.going
    = f.label :going, "No", :class => 'rsvp__going'
  .rsvp__row
    = f.label :email
    = f.email_field :email
  .rsvp__row
    = f.label :address
    = f.text_area :address, :rows => 4
  = f.fields_for :guests
  = f.link_to_add " Add a guest", :guests, :class => "icon-plus-sign"
  .rsvp__row
    = f.submit :class => 'rsvp__button'
    %p.flash
      = flash[:notice]
      = flash[:alert]