<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Name Line Two</Data></Cell>
        <Cell><Data ss:Type="String">Address Line One</Data></Cell>
        <Cell><Data ss:Type="String">Address Line 2</Data></Cell>
        <Cell><Data ss:Type="String">Address Line 3</Data></Cell>
        <Cell><Data ss:Type="String">Address Line 4</Data></Cell>
        <Cell><Data ss:Type="String">RSVP</Data></Cell>
      </Row>
    <% @invitations.each do |invitation| %>
      <% address_lines = invitation.address.split(/\r?\n/) %>
      <Row>
        <Cell><Data ss:Type="String"><%= invitation.address_name %></Data></Cell>
        <Cell></Cell>
        <Cell><Data ss:Type="String"><%= address_lines[0] || '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= address_lines[1] || '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= address_lines[2] || '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= address_lines[3] || '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= invitation.rsvp %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>