%h1 Thank you for visiting
= form_for @invitation do |f|
  .form-row
    = f.label :email
    = f.email_field :email, class: 'form-control', required: true
  .form-row
    = f.label :address
    = f.text_area :address, :rows => 4, class: 'form-control', required: true
    .form-notes Please include your name as the first line of the address.
  .form-row
    = f.label :notes, 'Comments'
    = f.text_area :notes, :rows => 4, class: 'form-control'
  .form-row.form-row--checkbox
    = f.check_box :no_paper_invite
    = f.label :no_paper_invite, 'Opt out of paper invite'
  .form-row.form-row--submit
    = f.submit class: 'form-submit'
    %p.flash
      = flash[:notice]
      = flash[:alert]