!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Adal and Lily
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Cinzel:400,700|Lobster+Two:400italic'
    = stylesheet_link_tag 'addresses'
    = javascript_include_tag "libs/modernizr-2.6.2.min"
  %body
    = yield
    = javascript_include_tag 'addresses'