<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'James and Christina' %></title>
  <%= stylesheet_link_tag    "tables", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= yield :js %>
</body>
</html>
